<section th:fragment="right" class="fz_right">
	<ol class="list-group list-group-numbered">
		<li class="list-group-item d-flex justify-content-between align-items-start active">
			<div class="ms-2 me-auto">
				<div class="fw-bold">ADMIN</div>
				Username: admin<br />
				Password: adminPass<br />
				Role: ROLE_ADMIN
			</div>
			<span class="badge bg-primary rounded-pill">14</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class="fw-bold">USER</div>
				Username: user1<br />
				Password: user1Pass<br />
				Role: ROLE_USER
			</div>
			<span class="badge bg-primary rounded-pill">14</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class="fw-bold">USER</div>
				Username: user2<br />
				Password: user2Pass<br />
				Role: ROLE_USER
			</div>
			<span class="badge bg-primary rounded-pill">14</span>
		</li>
	</ol>
</section>